@media all {
	* {
		box-sizing: border-box;
	}
	body {
		font-family: sans-serif;
		margin: 0;
	}
	h2 {
		color: #fff;
		margin: 0;
	}
	.container {
		border: 1px solid #ccc;
		margin: 10px;
		padding: 10px;
	}
	img {
		width: 200px;
		float: left;
	}
	p {
		text-align: justify;
	}
}