@media all {
	* {
		box-sizing: border-box;
	}
	body {
		font-family: sans-serif;
		margin: 0;
	}
	h2 {
		color: #fff;
		margin: 0;
	}
	.container {
		height: 100vh;

		/* Le damos un comportamiento de caja flexible */
		display: flex;
		text-align: center;
	}
	.col {
		flex: 1;
		height: 200px;
	}
	.col-2 {
		flex: 4;
		height: 200px;
	}
	.col-blue {
		background-color: lightblue;
	}
	.col-red {
		background-color: coral;
	}
	.col-green {
		background-color: lightgreen;
	}
}