@media all {
	/* TODO EL CSS ~ PARA PC (Desktop) */
	* {
		box-sizing: border-box;
	}
	body {
		font-family: sans-serif;
		margin: 0;
	}
	h2 {
		color: #fff;
		margin: 0;
	}
	.container {
		height: 100vh;
		padding-top: 65px;
		padding-left: 15px;
	}
	.cont-blue {
		background-color: lightblue;
	}
	.cont-red {
		background-color: coral;
	}
	.cont-green {
		background-color: lightgreen;
	}
	.nav-bar {
		
		background-color: #333;
		padding: 15px;
		width: 100%;

		/* Movimiento en el plano */
		position: fixed;

		/* Coordenadas con respecto al plano */
		top: 0;
		left: 0;
	}
	.nav-bar a {
		color: #fff;
	}
}