@media all {
	* {
		box-sizing: border-box;
	}
	body {
		font-family: sans-serif;
		margin: 0;
	}

	p {
		margin: 0;
	}

	/* resContainer va a ser el contenedor principal */
	.resContainer {
		padding: 1em;
		background-color: #f3eeee;
	}

	.resContainer__search {
		width: 100%;
		height: 2rem;
		border: 0;
		border-bottom: 1px solid #ccc;
		outline-style: none;
		margin-bottom: 1em;
	}

	.resContainer__placeholderImg {
		width: 100%;
		border-top-right-radius: 1em;
		border-top-left-radius: 1em;
	}

	/* Componente: resContainer__title */
	.resContainer__title {
		display: flex;
		margin-bottom: 1em;
		margin-top: 1em;
	}

	.resContainer__card {
		background-color: #fff;
		border-radius: 1em;
		margin-bottom: 1em;
	}

	.resContainer__title p, .resContainer__title small {
		flex: 1;
	}

	.resContainer__title small {
		text-align: right;
		color: #2da7ce;
	}

	.resContainer__title p {
		font-weight: 600;
		color: #555;
	}

	.resContainer__cardBody, .resContainer__cardFooter {
		display: flex;
		padding: 1em;
		align-items: center;
	}

	.resContainer__cardBody div {
		flex: 1;
		text-align: center;
	}

	.resContainer__cardBody div img {
		width: 50px;
	}

	.resContainer__cardBody p {
		flex: 4;
	}

	.resContainer__cardBody small {
		flex: 1;
		text-align: right;
		color: #2da7ce;
	}

	.resContainer__cardFooter span {
		padding: 10px;
		background-color: #eee;
		color: #333;
		margin-right: 10px;
		border-radius: 5px;
		font-size: 12px;
	}
	.cardBody__title {
		font-size: 24px;
		font-weight: 600;
		color: #444;
	}
	.cardBody__stars {
		color: #2da7ce;
	}
	.cardBody__review {
		color: #ccc;
		font-size: 14px;
	}
}