* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}
.container {
	text-align: center;
	width: 300px;
}
#logo {
	width: 120px;
}

.btn {
	width: 100%;
	background-color: #eee;
	line-height: 35px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
}

.btn-blue {
	background-color: #0272bc;
	color: #fff;
	margin-top: 20px;
}

.field {
	width: 100%;
    line-height: 35px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#linkTrouble {
	color: #0b6cad;
	text-decoration: none;
	font-size: 13px;
}
p {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

